* {
  font-family: Arial;
}

.container {
  display: flex;
}

.container .h1 {
  font-size: 1.4rem;
  color: antiquewhite;
  background-color: palevioletred;
  margin: 1.8rem 1rem;
  padding: 1.5rem;
  border: 1rem solid pink;
}
.container .h2 {
  font-size: 1.4rem;
  color: antiquewhite;
  background-color: palevioletred;
  margin: 1.8rem 1rem;
  padding: 1.5rem;
  border: 1rem solid pink;
}
.container .h3 {
  font-size: 1.4rem;
  color: antiquewhite;
  background-color: palevioletred;
  margin: 1.8rem 1rem;
  padding: 1.5rem;
  border: 1rem solid pink;
}

img {
  width: 100%;
  height: 400px;
}

.content {
  text-align: justify;
  background-color: bisque;
  margin: 0rem 1rem 0rem 0rem;
  padding: 1rem;
  width: 50%;
  height: 500px;
}
.isi {
  width: 50%;
}
.kategori {
  display: inline-flex;
}
.kategori .sd {
  font-size: 1.4rem;
  color: antiquewhite;
  background-color: palevioletred;
  margin: 1.8rem 1rem;
  padding: 1.5rem;
  border: 1rem solid pink;
}
.kategori .smp {
  font-size: 1.4rem;
  color: antiquewhite;
  background-color: palevioletred;
  margin: 1.8rem 1rem;
  padding: 1.5rem;
  border: 1rem solid pink;
}
.kategori .sma {
  font-size: 1.4rem;
  color: antiquewhite;
  background-color: palevioletred;
  margin: 1.8rem 1rem;
  padding: 1.5rem;
  border: 1rem solid pink;
}
.kategori .s1 {
  font-size: 1.4rem;
  color: antiquewhite;
  background-color: palevioletred;
  margin: 1.8rem 1rem;
  padding: 1.5rem;
  border: 1rem solid pink;
}

.isi p {
  text-align: justify;
}
.tentang {
  display: flex;
}

#footer {
  color: antiquewhite;
  background-color: palevioletred;
  text-align: center;
  padding: 1.7rem;
  margin-bottom: 0%;
}
